.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  color: white;
  padding: 0 27px;
  box-shadow: 0px 0px 2px 0 black;
  background: linear-gradient(240deg, #4b2691, #0067e8);
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link {
  text-decoration: none;
}

.link,
.link:visited {
  color: white;
}

.cart-button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}