.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.CartModal {
  position: absolute;
  top: 35px;
  right: 25px;
  height: min-content;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px 0;
  padding: 15px;
  background-color: #4a2daa;
  box-shadow: 0px 0px 3px 0 black;
  margin: 2px;
}

ul.modal-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: scroll;
}

li.modal-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modal-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-name {
  color: white;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-price-wrapper {
  display: flex;
  gap: 15px;
}

.modal-quantity,
.modal-price {
  color: #4bc26d;
  font-size: 14px;
}

.modal-price {
  margin-left: auto;
}

.modal-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.modal-total {
  color: #4bc26d;
  text-align: end;
  margin-left: auto;
  font-size: 18px;
  white-space: nowrap;
}

.modal-checkout-link {
  width: 50%;
}

.go-to-cart {
  width: 100%;
  background-color: #ffb600;
  color: #753e00;
}

div.modal-button-wrapper {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: center;
}