.filter {
  height: min-content;
  width: 225px;
  border-radius: 10px;
  /* background-color: #37374474; */
  background-color: #58585874;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 0px 3px 0 black;
  margin: 2px;
}

.categories,
.price-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-item {
  display: flex;
  gap: 8px;
  color: rgb(146, 175, 185);
}

input[type="checkbox"],
label {
  cursor: pointer;
}

.price-wrapper {
  display: flex;
  gap: 5px;
  color: rgb(146, 175, 185);
  align-items: center;
  justify-content: space-around;
}

.filter-input {
  width: 40%;
  flex: 1;
  font-size: 24px;
  background-color: #758375;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 2px 0px black inset;
  border: 1px solid #728178;
}

.filter-input::placeholder {
  color: rgb(146, 175, 185);
}

.filter-title {
  color: white;
  font-size: 18px;
}

.clear-filters {
  background: none;
  border: none;
  color: rgb(146, 175, 185);
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 25px;
}