:root {
  --color-yellow: #ffb600;
}

.ProductCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px 0;
  padding: 15px;
  background-color: #00000074;
  box-shadow: 0px 0px 3px 0 black;
  margin: 2px;
}

.img {
  background-color: #292929;
  width: 100%;
  height: 225px;
}

.product-name {
  color: white;
  font-size: 20px;
}

div.button-wrapper {
  display: flex;
  gap: 15px;
  margin-top: auto;
  align-items: center;
}

.price {
  font-size: 20px;
  color: #4bc26d;
}

button.buy {
  background-color: #ffb600;
  flex: 1;
  margin: 0 10px;
  color: #753e00;
}

button.incart {
  flex: 1;
  margin: 0 10px;
}

.button {
  border: none;
  width: 100px;
  border-radius: 10px 0;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  box-shadow: 0px 0px 3px 0 black;
}

.product-image {
  width: auto;
  height: 225px;
  object-fit: cover;
}